* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    background: url(infromation.jpg);
    background-size: cover;
    
}
.mainwebsite{
    width: 450px;
    background: transparent;
    border: 2px solid rgba(255,255,255,.30);
    border-radius: 20px;
    padding: 30px 40px;
    color: white;
    backdrop-filter: blur (15px);
    
}
.mainwebsite h1{
    font-size: 35px;
    text-align: center; 
}
.mainwebsite  .form{
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.form input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: 2px solid grey (255,255,255,.5);
    border-radius: 40px;
    outline: none;
    font-size: 15px;
    color: white;
    padding: 20px 45px 20px 20px;
}
.form input::placeholder{
    color: white;
}
.mainwebsite .remember-password{
    display: flex;
    justify-content: space-between;
    font-size: 13.5px;
    margin: -15px 0 15px;
}
.remember-password a{
    color: white;
}
.remember-password a:hover{
    text-decoration: underline;
}
.mainwebsite .button{
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px black(0,0,0,.1);
    font-size: 15px;
    color: black;
    font-weight: 540;
}
.mainwebsite .register-link{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;

}
.register-link p a {
    color: white;
    font-style: italic;
    text-decoration: none;
    font-weight: 650;
}
